﻿* {
  box-sizing: border-box;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.button,
button.button,
input.button {
  border-radius: 0.3rem;
  padding: 0 1rem;
}
.button-primary,
input.button-primary,
button.button-primary {
  background-color: #eee;
  border-color: #00BDFF;
  color: #00BDFF;
  margin: 3vh auto;
  min-width: 50%;
}

input[type="text"] {
  margin: 0;
}