﻿form {
  background-color: #2b2b2b;
  border-radius: 0.3rem;
  height: 80vh;
  margin: 10vh 10vw;
  padding: 5vh 5vw;
  text-align: center;
  width: 80vw;
}
.login-logo {
  width: 40vw;
  height: 40vw;
  margin: 5vh auto;
}

@media screen and (orientation: landscape) {
  form {
    height: 90vh;
    margin: 5vh 5vw;
    padding: 15vh 5vw;
    text-align: left;
    width: 90vw;
  }
  .login-logo {
    display: inline-block;
    height: 100%;
    margin: 0 4.35vw 0 0;
    vertical-align: top;
    width: 30vw;
  }
  fieldset {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 7.5vh 0;
    vertical-align: top;
    width: 45vw;
  }
}