﻿
.tile {
  position: relative;
  height: 25vh;
}
@media screen and (orientation: landscape) {
  .tile {
    height: 50vh;
  }
}
.tile > img {
  width: 100%;
  height: 100%;
}
.tile > div {
  position: absolute;
  bottom: 0;
  padding: 5%;
}