﻿.hubpage header[role=banner] {
    position: relative;
    z-index: 2;
}

.hubpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    z-index: 1;
}

.hubpage .hub .win-hub-surface {
    height: 100%;
}

.hubpage .hub .hero {
    -ms-high-contrast-adjust: none;
    background-image: url(/images/gray.png);
    background-size: cover;
    margin-left: -80px;
    margin-right: 80px;
    padding: 0;
    width: 780px;
}

    .hubpage .hub .hero:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm) {
        margin-left: 80px;
        margin-right: -80px;
    }

    .hubpage .hub .hero .win-hub-section-header {
        display: none;
    }

.hubpage .hub .section1 {
    width: 420px;
}

    .hubpage .hub .section1 .win-hub-section-content {
        overflow-y: hidden;
    }

    .hubpage .hub .section1 .subtext {
        margin-bottom: 7px;
        margin-top: 9px;
    }
	
	.hubpage .hub .section1 img {
		width: 420px; height: 280px;	
	}

.hubpage .hub .section2 {
    width: 440px;
}

    .hubpage .hub .section2 .win-hub-section-content {
        overflow-y: hidden;
    }

    .hubpage .hub .section2 .item-title {
        margin-top: 4px;
        margin-bottom: 10px;
    }

    .hubpage .hub .section2 .article-header {
        margin-bottom: 15px;
    }

.hubpage .hub .section3 {
}

    .hubpage .hub .section3 .itemslist {
        height: 100%;
        margin-top: -5px;
        margin-right: 20px;
    }

    .hubpage .hub .section3 .win-container {
        margin-bottom: 36px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .hubpage .hub .section3 .win-item {
        height: 229px;
        width: 310px;
    }

        .hubpage .hub .section3 .win-item img {
            height: 150px;
            width: 310px;
        }

.hubpage .hub .section4 {
    width: 400px;
}

    .hubpage .hub .section4 .win-hub-section-content {
        overflow-y: hidden;
    }

    .hubpage .hub .section4 .top-image-row {
        height: 260px;
        margin-bottom: 10px;
        width: 400px;
    }

        .hubpage .hub .section4 .top-image-row img {
            height: 100%;
            width: 100%;
        }

    .hubpage .hub .section4 .sub-image-row {
        margin-bottom: 20px;
        display: -ms-flexbox;
        -ms-flex-flow: row nowrap;
        -ms-flex-pack: justify;
    }

        .hubpage .hub .section4 .sub-image-row img {
            height: 95px;
            width: 130px;
        }
		
.label-extralarge {
	font-size: 28pt;
	opacity: 1.0;
	line-height: 30pt;
}

.label-medium {
	font-size: 15pt;
	line-height: 17.5pt;
}

.label-mediummid {
	font-size: 15pt;
	opacity: 0.6;
	line-height: 17.5pt;
}